<!DOCTYPE html>
<html ng-app="settingsWindow">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title ng-bind="AppName"></title>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="css/app.css">

		<script>
			window.$ = window.jQuery = require('./lib/jquery.min.js');
		</script>
		<script src="lib/bootstrap.min.js"></script>

		<script src="lib/angular.min.js"></script>

		<script src="js/settings-window.js"></script>
	</head>
	<body ng-controller="settings">
		<div class="title-options">
			<a class="ac-min"><i class="material-icons">remove</i></a>
			<a class="ac-max"><i class="material-icons">check_box_outline_blank</i></a>
			<a class="ac-close"><i class="material-icons">close</i></a>
		</div>
		<div class="title-bar">
			<div class="title">Kiteshare <span ng-bind="appState"></span></div>
			<div class="title-drag"></div>
		</div>

		<div class="options">
			<div class="grid-row">
				<div class="xs-2 nav nogutter">
					<ul class="nav-tabs">
						<li class="active"><a href="#home" data-toggle="tab">
							<i class="material-icons">help_outline</i>
							About
						</a></li>
						<li><a href="#settings" data-toggle="tab">
							<i class="material-icons">settings</i>
							Settings
						</a></li>
						<li><a href="#uploads" data-toggle="tab">
							<i class="material-icons">featured_play_list</i>
							Uploads
						</a></li>
						<li class="version">
							<small>Kiteshare<br/><span ng-bind="version"></span></small>
						</li>
					</ul>
				</div>
				<div class="xs-10 panes nogutter">
					<div class="pane active" id="home">
						<div class="container">
							<div class="logotype">
								<img src="img/typeface.png"/>
							</div>
							<p>Instantly share screenshots via your clipboard or Imgur.</p>
							<small ng-bind="version"></small>

							<div class="shortcuts">
								<div class="shortcut">
									<p class="helper">Crop and copy a screenshot:</p>
									<p ng-switch="Platform">
										<kbd ng-switch-when="darwin">Command + Shift + 2</kbd>
										<kbd ng-switch-when="win32">Ctrl + Shift + 1</kbd>
									</p>
								</div>

								<div class="shortcut">
									<p class="helper">Crop and upload a screenshot:</p>
									<p ng-switch="Platform">
										<kbd ng-switch-when="darwin">Command + Shift + 4</kbd>
										<kbd ng-switch-when="win32">Ctrl + Shift + 2</kbd>
									</p>
								</div>

								<div class="shortcut">
									<p class="helper">Upload a full screenshot:</p>
									<p ng-switch="Platform">
										<kbd ng-switch-when="darwin">Command + Shift + 3</kbd>
										<kbd ng-switch-when="win32">Ctrl + Shift + 3</kbd>
									</p>
								</div>
							</div>
							<small class="support">For support visit <a href="https://cindr.io">Cindr.io</a></small>
						</div>
					</div>

					<div class="pane" id="settings">
						<form class="h-form">
							<h5>Settings</h5>
							<p>Manage all your Kiteshare preferences</p>
							<hr/>
							<div class="option-item">
								<div class="xs-7 info">
									<p>Launch at startup:</p>
									<small class="help-block">Launches Kiteshare at system startup</small>
								</div>
								<div class="xs-5 option">
									<div class="toggle">
										<span class="opt on" ng-class="{'selected': autoLaunchSetting === true}">On</span>
										<span class="opt off" ng-class="{'selected': autoLaunchSetting === false}">Off</span>
									</div>
									<input type="checkbox" ng-model="autoLaunchSetting">
								</div>
							</div>
							<div class="option-item">
								<div class="xs-7 info">
									<p>Check for updates:</p>
									<small class="help-block">Check for updates on application run</small>
								</div>
								<div class="xs-5 option">
									<div class="toggle">
										<span class="opt on" ng-class="{'selected': settings.checkForUpdates === true}">On</span>
										<span class="opt off" ng-class="{'selected': settings.checkForUpdates === false}">Off</span>
									</div>
									<input type="checkbox" ng-model="settings.checkForUpdates">
								</div>
							</div>
							<div class="option-item">
								<div class="xs-7 info">
									<p>System alerts:</p>
									<small class="help-block">Enable or disable system alerts for screenshots</small>
								</div>
								<div class="xs-5 option">
									<div class="toggle">
										<span class="opt on" ng-class="{'selected': settings.enableNotifications === true}">On</span>
										<span class="opt off" ng-class="{'selected': settings.enableNotifications === false}">Off</span>
									</div>
									<input type="checkbox" ng-model="settings.enableNotifications">
								</div>
							</div>
							<div class="option-item">
								<div class="xs-7 info">
									<p>Sound notifications:</p>
									<small class="help-block">Enable or disable sound alerts for screenshots</small>
								</div>
								<div class="xs-5 option">
									<div class="toggle">
										<span class="opt on" ng-class="{'selected': settings.audioNotifications === true}">On</span>
										<span class="opt off" ng-class="{'selected': settings.audioNotifications === false}">Off</span>
									</div>
									<input type="checkbox" ng-model="settings.audioNotifications">
								</div>
							</div>
							<div class="option-item">
								<div class="xs-7 info">
									<p>Open in browser:</p>
									<small class="help-block">Opens upload link in default browser</small>
								</div>
								<div class="xs-5 option">
									<div class="toggle">
										<span class="opt on" ng-class="{'selected': settings.openBrowser === true}">On</span>
										<span class="opt off" ng-class="{'selected': settings.openBrowser === false}">Off</span>
									</div>
									<input type="checkbox" ng-model="settings.openBrowser">
								</div>
							</div>
							<div class="option-item">
								<div class="xs-7 info">
									<p>Send file to trash:</p>
									<small class="help-block">Delete local screenshot after upload</small>
								</div>
								<div class="xs-5 option">
									<div class="toggle">
										<span class="opt on" ng-class="{'selected': settings.sendToTrash === true}">On</span>
										<span class="opt off" ng-class="{'selected': settings.sendToTrash === false}">Off</span>
									</div>
									<input type="checkbox" ng-model="settings.sendToTrash">
								</div>
							</div>
							<div class="option-item" ng-if="Platform == 'darwin'">
								<div class="xs-7 info">
									<p>Downscale high-res screenshots:</p>
									<small class="help-block">Reduce resolution from retina display shots</small>
								</div>
								<div class="xs-5 option">
									<div class="toggle">
										<span class="opt on" ng-class="{'selected': settings.retinaResize === true}">On</span>
										<span class="opt off" ng-class="{'selected': settings.retinaResize === false}">Off</span>
									</div>
									<input type="checkbox" ng-model="settings.retinaResize">
								</div>
							</div>
							<div class="option-item">
								<div class="xs-7 info">
									<p>Reset settings:</p>
									<small class="help-block">Resetting your settings will result in setting defaults.<br/>Kiteshare will need to be restarted.</small>
								</div>
								<div class="xs-5 option">
									<a href class="text-reset" ng-click="resetAll()">Reset preferences</a>
								</div>
							</div>
						</form>
					</div>

					<div class="pane" id="uploads">
						<form class="h-form">
							<h5>Recent uploads</h5>
							<p>All your recent Imgur uploads in one place</p>
							<hr/>
							<div class="option-item uploads">
								<div class="grid-row">
									<div class="xs-12" ng-repeat="URL in recent">
										<a class="href-link upload" href={{URL}}  style="background-image:url({{URL}})">
											<span class="gradient">
												<b>{{ URL.substring(URL.lastIndexOf('/')+1) }}</b>
											</span>
										</a>
									</div>
									<div ng-show="!recent.length" class="xs-12 none">
										<p><i class="material-icons">sentiment_dissatisfied</i> No uploads yet</p>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
